/* THIRD */
.img1 {
  background-image: url("https://wealthelite.in/website/images/testimony/super_bike_mfd.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  /* width: 64vh; */
  margin: auto;
}
